<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
      <app-header></app-header>
  </header>
<!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero">
  <app-slide></app-slide>
</section>
<!-- End Hero -->

<!-- ======= Main ======= -->
<br>
<br>
<br>
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
<router-outlet></router-outlet>
    </div>
  </section>
<!-- End main -->


<!-- ======= footer ======= -->
<footer class="footer-section">
       <app-footer></app-footer>
</footer>
<!-- End footer -->






      
      
  